body{
    background-color: cadetblue;
    margin: auto;
}

.container{
    text-align: center;
    background-color: orange;
    padding: 5rem;

}


.container2{
    text-align: center;
    background-color:coral;
    padding: 5rem;
    font-size: x-large;
    font-weight: bolder;

}

#inputdate{
    border:  solid ;
    padding: 1rem;
    border-radius: 1rem;
}


.check{
    padding: 1rem;
    border: solid;
    border-radius: 1rem;
}

